.container.formulario{
    
    overflow: hidden;
    
}

.container.formulario h1 {
    color: red;
}

.container.formulario form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.container.formulario input {
    margin-top: 10px;
    margin-bottom: 30px;
    }